// override default variable
$success: #D4AA00;

// modules
@import '~bulma/bulma';
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/helpers/_all.sass";
// @import "bulma/sass/layout/_all.sass";
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/icon.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/components/message.sass";
// @import "bulma/sass/form/shared.sass";
// @import "bulma/sass/form/input-textarea.sass";
// @import "bulma/sass/form/tools.sass";
// @import "bulma/sass/components/navbar.sass";

// override default style
@import 'styles/navbar.scss';
.card {
  @include from($navbar-breakpoint) {
    width: 320px;
  }
}